.customize-control-vamtam-heading {
  text-align: center;
  padding: 4px 0;
  border: solid #ccc;
  border-width: 1px 0;
}
.customize-control-vamtam-heading .customize-control-title {
  margin-top: 5px;
}
.customize-control-vamtam-image-select input {
  display: none;
}
.customize-control-vamtam-image-select img {
  border: 2px solid transparent;
  max-width: calc(44%);
}
.customize-control-vamtam-image-select :checked + img {
  border-color: #008ec2;
}
